<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
     crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link
         href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
         rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/public/css/lib.css">
     
    <title>Билиотека проектов</title>
</head>
<body>

    
    
    <%- include('_forms_navbar.ejs') %>

    <section class="lib">
        <div class='container'>
            <div class="row">
                <div class="col-md-9 lib__menu">
                    <a href='/articles/new' class="lib__menu__add">Добавить новый проект</a>
                    <%articles.forEach(article => { %>
                        <div class="lib__menu__item wrapper">
                            <div class="lib__menu__item0 d-inline-flex align-content-center justify-content-between">
                                <div class="lib__menu__item__but">
                                    <form action='articles/<%= article.id%>?_method=DELETE' method='POST'>
                                        <button type='submit'><svg width="18" height="20" viewBox="0 0 18 20"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M2.63302 2.53726L3.0243 1.75468C3.30662 1.19004 3.88373 0.833374 4.51502 0.833374H13.485C14.1162 0.833374 14.6934 1.19004 14.9757 1.75468L15.367 2.53726C15.978 2.66867 16.4765 3.13684 16.6329 3.76248L17.0496 5.42915C17.2728 6.32214 16.7299 7.22703 15.8369 7.45028C15.7449 7.47328 15.6511 7.48837 15.5567 7.49542L13.8894 19.1667H4.11054L2.44323 7.49549C1.5807 7.43202 0.900635 6.71211 0.900635 5.83337C0.900635 5.6971 0.917347 5.56135 0.950397 5.42915L1.36706 3.76248C1.52347 3.13684 2.02201 2.66867 2.63302 2.53726ZM4.12744 7.50004H13.8724L12.4439 17.5H5.55601L4.12744 7.50004ZM2.98397 4.16671H3.68168L4.51502 2.50004H13.485L14.3183 4.16671H15.016L15.4327 5.83337H2.5673L2.98397 4.16671Z"
                                                    fill="white" />
                                            </svg>
                                        </button>
                                    </form>
                                    <a href='articles/edit/<%= article.id%>'><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6979 0.666626C13.2435 0.666626 13.7665 0.884476 14.1485 1.26948L16.7326 3.85356C17.1173 4.23829 17.3335 4.7601 17.3335 5.30419C17.3335 5.84828 17.1173 6.37009 16.7326 6.75482L7.298 16.1864C6.71594 16.8579 5.89083 17.2704 4.94558 17.3352H0.666748V16.5019L0.669454 12.9894C0.740447 12.1107 1.14897 11.2936 1.77216 10.7445L11.2462 1.27048C11.6304 0.883984 12.1529 0.666626 12.6979 0.666626ZM4.88673 15.6706C5.33192 15.6391 5.74632 15.4319 6.07908 15.0513L12.3807 8.74972L9.25202 5.62095L2.9135 11.9579C2.57587 12.2566 2.36701 12.6743 2.33341 13.0565V15.6691L4.88673 15.6706ZM10.4307 4.44259L13.5592 7.57121L15.5541 5.57631C15.6262 5.50414 15.6668 5.40626 15.6668 5.30419C15.6668 5.20213 15.6262 5.10424 15.5541 5.03207L12.9677 2.44567C12.8963 2.37375 12.7992 2.33329 12.6979 2.33329C12.5966 2.33329 12.4994 2.37375 12.4281 2.44567L10.4307 4.44259Z" fill="white"/>
                                        </svg>
                                        </svg>
                                    </a>
                                </div>

                                <div class="lib_menu_item_inf">
                                    <div class='lib__menu__item__title'>
                                        <%= article.title %>
                                    </div>

                                    <div class="lib__menu__item__status">
                                        <%= article.status %>
                                    </div>
                                    
                                </div>
                                <div>
                                    <a href='articles/<%= article.slug %>' class="lib__menu__item__more">смотреть</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>

                <div class="lib__filter col-md-3 wrapper">
                    <div class="filter-search">
                        <input type="text" placeholder="Искать...">
                        <svg color="white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </div>

                    <h3 class="filter-title">фильтрация</h3>
                    <div class="filter-drop">
                        <input type="checkbox" id="trigger-mentor" checked="checked" />
                        <label for="trigger-mentor">наставник
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <ul class="filter-drop-list">
                            <li>Стельмах</li>
                            <li>Плёнкин</li>
                            <li>Григорьев</li>
                            <li>Павлов</li>
                        </ul>
                    </div>
                    <div class="filter-drop">
                        <input type="checkbox" id="trigger-year" checked="checked" />
                        <label for="trigger-year">год
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <ul class="filter-drop-list">
                            <li>2000</li>
                            <li>2020</li>
                            <li>2021</li>
                        </ul>
                    </div>
                    <div class="filter-drop">
                        <input type="checkbox" id="trigger-status" checked="checked" />
                        <label for="trigger-status">статус
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </label>
                        <ul class="filter-drop-list">
                            <li>открыт</li>
                            <li>закрыт</li>
                            <li>завершен</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 offset-4 d-inline-flex justify-content-between footer-items">
                        <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M31.0586 1.66406C31.2344 0.960938 31.0586 0.375 30.0039 0.375H26.5469C25.668 0.375 25.2578 0.84375 25.0234 1.37109C25.0234 1.37109 23.2656 5.64844 20.8047 8.46094C19.9844 9.22266 19.6328 9.51562 19.1641 9.51562C18.9883 9.51562 18.6367 9.22266 18.6367 8.51953V1.66406C18.6367 0.785156 18.4023 0.375 17.6406 0.375H12.25C11.6641 0.375 11.3711 0.785156 11.3711 1.19531C11.3711 2.01562 12.6016 2.19141 12.7188 4.53516V9.63281C12.7188 10.7461 12.543 10.9805 12.0742 10.9805C10.9023 10.9805 8.08984 6.64453 6.39062 1.72266C6.03906 0.785156 5.6875 0.375 4.80859 0.375H1.35156C0.414062 0.375 0.179688 0.84375 0.179688 1.37109C0.179688 2.30859 1.35156 6.82031 5.62891 12.8555C8.5 16.957 12.543 19.125 16.1758 19.125C18.3438 19.125 18.6367 18.6562 18.6367 17.8359C18.6367 13.9102 18.4609 13.5 19.5156 13.5C20.043 13.5 20.9219 13.793 22.9727 15.7852C25.3164 18.1289 25.7266 19.125 27.0156 19.125H30.4727C31.4688 19.125 31.9375 18.6562 31.6445 17.6602C31 15.668 26.6055 11.4492 26.3711 11.1562C25.8438 10.5117 26.0195 10.2188 26.3711 9.63281C26.3711 9.63281 30.5898 3.65625 31.0586 1.66406Z"
                                fill="white" />
                        </svg>
                        <svg width="18" height="31" viewBox="0 0 18 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.9727 17.625L16.793 12.2344H11.5781V8.71875C11.5781 7.19531 12.2812 5.78906 14.625 5.78906H17.0273V1.16016C17.0273 1.16016 14.8594 0.75 12.8086 0.75C8.53125 0.75 5.71875 3.38672 5.71875 8.07422V12.2344H0.914062V17.625H5.71875V30.75H11.5781V17.625H15.9727Z"
                                fill="white" />
                        </svg>
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M29.2969 15.1016C29.2969 14.1641 29.1797 13.4609 29.0625 12.6992H15.2344V17.6797H23.4375C23.1445 19.8477 20.9766 23.9492 15.2344 23.9492C10.2539 23.9492 6.21094 19.8477 6.21094 14.75C6.21094 6.60547 15.8203 2.85547 20.9766 7.83594L24.9609 4.02734C22.4414 1.68359 19.1016 0.21875 15.2344 0.21875C7.14844 0.21875 0.703125 6.72266 0.703125 14.75C0.703125 22.8359 7.14844 29.2812 15.2344 29.2812C23.6133 29.2812 29.2969 23.4219 29.2969 15.1016Z"
                                fill="white" />
                        </svg>
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.15785 14.2088H-5.72205e-06C-5.72205e-06 6.10887 6.11518 0 14.2261 0V3.15786C7.81253 3.15786 3.15785 7.80464 3.15785 14.2088Z"
                                fill="white" />
                            <path
                                d="M14.2103 9.47353C10.8898 9.47353 9.47349 10.8898 9.47349 14.2103H6.31563C6.31563 9.11827 9.11823 6.31567 14.2103 6.31567V9.47353ZM8.80718 18.0676C9.43717 17.4945 10.4098 17.5245 11.0035 18.1355L14.7818 22.0213C15.6913 21.8476 17.5197 21.2776 19.4018 19.4002C21.2839 17.5166 21.8539 15.6835 22.0228 14.7803L18.1402 11.0004C17.5276 10.4067 17.4992 9.43563 18.0723 8.80406L23.9065 2.38888C24.4796 1.75573 25.4538 1.69573 26.1028 2.25151L29.529 5.1899C29.8022 5.46463 29.9648 5.82778 29.9869 6.21462C30.0106 6.60935 30.4622 15.9598 23.2117 23.2134C16.8866 29.537 8.9635 29.9996 6.78142 29.9996C6.46247 29.9996 6.26669 29.9901 6.21458 29.987C5.82775 29.9649 5.46459 29.8022 5.19144 29.5275L2.25463 26.0996C1.69727 25.4507 1.76043 24.4781 2.39042 23.9033L8.80718 18.0676Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script  src="/public/js/particles.min.js"></script>
    <script  src="/public/js/bg.js"></script>   
</body>
</html>